declare -a applications=(
# Development
  XCode
# Office
  Keynote Numbers Pages MindNode_2
# Base
  Homebrew Wget Brew Cask Oh_My_Zsh
# Cloud Storage
  Dropbox Box_Sync OneDrive
# DevOps Tools
  Virtual_Box Vagrant Packer GitHub_Desktop MacDown
# Editors
  Atom
# Browsers
  Firefox
# Movies
  VLC
# Social
  Colloquy Skype Twitter
# File Management
  Transmission UnRarX
# Miscellaneous
  Caffeine OnePassword
)
