
# DO NOT REMOVE: AWS Settings
function awssh(){
  [[ $1 == -q ]] && quite=true && shift
  host=$1

  user=${host%%@*}
  [[ $user == $host ]] && user=${AWSSH_USER}
  [[ -z $user ]] && user=ec2-user
  hostname=${host##*@}

  [[ $2 == -q ]] && quite=true && shift

  key=$2
  [[ -z $key ]] && key=${AWSSH_KEY}
  [[ -z $key ]] && key=id_rsa

  [[ $3 == -q ]] && quite=true && shift

  [[ $quite != true ]] && echo "ssh to ${user}@${hostname} using ~/.ssh/${key}"

  ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -i ~/.ssh/${key} ${user}@${hostname}
}
