
# DO NOT REMOVE: ZSH settings

# Completion settings
if type brew &>/dev/null; then
  FPATH=$(brew --prefix)/share/zsh/site-functions:$FPATH

  autoload -Uz compinit
  compinit
else
  FPATH=(/usr/local/share/zsh-completions $FPATH)
fi

# Highlighting settings
source /usr/local/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh

PATH=$PATH:$HOME/bin
